<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>EJS</title>
</head>
<body>
    <h2>Daftar Kontak</h2>
    <% if (contact.length > 0) { %>
        <table style="border-spacing: 10px">
            <% for( let i = 0; i < contact.length; i++ ) { %>
            
            <tr>
                <td><%= i+1 %></td>
                <td>Nama: <%= contact[i].name %></td>
                <td>No HP: <%= contact[i].phone %></td>
                <td>Negara: <%= contact[i].country %></td>
                <td>
                    <a href="/edit/<%= contact[i]._id %>" class="edit">Edit</a>
                    <a href="/delete/<%= contact[i]._id %>" class="delete"
                        onclick="return confirm('hapus kontak?')">Delete</a>
                </td>
            </tr>  
    
            <% } %>
        </table>
    <% } else { %>
        <p style="color: red">Data Masih Kosong</p>
    <% } %> 
    <a href="/add">Tambah Kontak</a>
</body>
</html>